<div id='header'><h1>Your notes</h1></div>
 
<div>
  <table align='center'>

    <% @note.each do |note| %>
      <tr>
        <td id='idx_title'><%= note.title %></td>
        <td><button><%= link_to 'Show', note_path(note) %></button></td>
      </tr>
    <% end %>
  </table>

  <button><%= link_to 'New', new_note_path(@note)%></button>
</div>